{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Preguntas{% endblock %}


{% block body_block %}
<div class="down">
<h1>Añadir preguntas</h1>
<form class="form-horizontal" id="add_question" method="post" action="">
    {% csrf_token %}
    <table id="add_question" class="table" width="100%">
                <tbody>
                    {% for form in formset.forms %}
                    <tr id="{{ form.prefix }}-row">
                            {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                            {% for field in form.visible_fields %}
                              <td>{{ field.label }}</td>
                              <td>{{ field }}{{ field.errors }}</td>
                            {% endfor %}
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div style="display:flex;justify-content:center;align-items:center;">
                <div>
      <input class="btn btn-lg btn-primary" type="submit" value="Guardar" />
      <a style="margin-left:15px;" class="btn btn-lg btn-primary" href="{% url 'questions' %}">Volver</a>
      </div></div>
</form>
</div>
<script src="{% static 'src/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'src/jquery.formset.js' %}"></script>
<script type="text/javascript">
           $(function() {
               $('#add_question tbody tr').formset();
           })
       </script>
{% endblock %}