<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Añadir preguntas</title>
</head>
<body>
<form id="add_question" method="post" action="">
            {% csrf_token %}
            {% for form in formset.forms %}
            {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
            <div style="padding-bottom:6px; border-bottom:1px dotted #ccc; margin-bottom:6px;">
                {{ form.question.label_tag }}
                {{ form.question }}
                {{ form.dificulty.label_tag }}
                {{ form.dificulty }}
                {{ form.value.label_tag }}
                {{ form.value }}
            </div>
            {% endfor %}
            <p>
                {{ formset.management_form }}
                <input type="submit" value="Submit" />
            </p>
        </form>
<script src="{% static 'src/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'src/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('#add_question div').formset();
    })
</script>
</body>
</html>