{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Juego{% endblock %}

{% block body_block %}
<h1>Juego de las preguntas</h1>
<form class="form-inline" id="search" method="post" action=".">
          {% csrf_token %}
        <table class="table">
          <tr>
          {% for question in questions1 %}
            <td><a href="{% url 'question_detail' question.dificulty.id question.id %}"><img src="{% static 'img/chupeta.png' %}"></a></td>
            {% endfor %}
          </tr>
          <tr>
          {% for question in questions2 %}
            <td><a href="{% url 'question_detail' question.dificulty.id question.id %}"><img src="{% static 'img/algodon.png' %}"></a></td>
            {% endfor %}
          </tr>
          <tr>
          {% for question in questions3 %}
          <td><a href="{% url 'question_detail' question.dificulty.id question.id %}"><img src="{% static 'img/carrusel.png' %}"></a></td>
          {% endfor %}
          </tr>
          <tr>
          {% for question in questions4 %}
          <td><a href="{% url 'question_detail' question.dificulty.id question.id %}"><img src="{% static 'img/rueda.png' %}"></a></td>
          {% endfor %}
          </tr>
          </table>
        <a class="btn btn-lg btn-danger" href="{% url 'index' %}">Terminar</a>
{% endblock %}
