{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Preguntas{% endblock %}


{% block body_block %}

<h1>Preguntas</h1>
<table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Pregunta</th>
          <th>Dificultad</th>
          <th>Valor</th>
          <th colspan="2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for question in questions %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ question.question }}</td>
              <td>{{ question.dificulty }}</td>
              <td>{{ question.value }}</td>
              <td><a href="{% url 'edit_question' question.id %}">Editar pregunta</a></td>
              <td><a href="{% url 'delete_question' question.id %}">Borrar pregunta</a></td>
            </tr>
        {% endfor %}
      </tbody>
      </table>
      <div style="display:flex;justify-content:center;align-items:center;">
        <div>
      <a class="btn btn-lg btn-primary" href="{% url 'add_question' %}">Agregar pregunta</a>
      <a class="btn btn-lg btn-primary" href="{% url 'index' %}">Volver</a>
      </div>
      </div>

{% endblock %}